.upload-image-wrapper {
    width: 100%;
    height: 140px;
    background-color: #fff;
    margin: 10px 0;
    overflow: hidden;
}

.upload-image {
    color: #9b9b9b;
    height: 100px;
    width: 100px;
    font-size: 36px;
    border: 1px dashed #d9d9d9;
    box-sizing: border-box;
    margin:10px auto;
    padding-top: 30px;
    padding-left: 28px;
}

.upload-image-tip {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}

.publish-buying-info {
    background-color: #fff;
    padding: 0 14px;
}

.publish-buying-info .text {
    height: 40px;
    line-height: 40px;
}

.publish-buying-info .key {
    float: left;
}

.publish-buying-info .value {
    float: right;
}

.publish-buying-info .value i {
    color: #c3c3c3;
    font-size: 14px;
    padding-left: 5px;
}


.publish-buying-info .accept i, .publish-buying-info .refuse i {
    color: #fff;
    font-size: 12px;
    background-color: #bbb;
    border-radius: 50%;
    padding: 2px;
    margin-right: 5px;
}

.publish-buying-info .text .accept {
    margin-left: 50px;
}

.publish-buying-info .text .refuse {
    margin-left: 50px;
}

.publish-buying-info .ipt {
    height: 115px;
    width: 100%;
    border: none;
    resize:none;
    outline: none;
    box-sizing: border-box;
    padding: 16px 0;
}




