.head-wrapper .right .right-block {
    height: 57px;
    position: relative;
}

.head-wrapper .right .right-block  i {
    font-size: 20px;
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
}

.head-wrapper .right .right-block a {
    font-size: 16px;
    line-height: 16px;
    display: block;
    position: absolute;
    bottom: 6px;
    right: 0;
}

.swiper-tag {
    width: 100%;
    line-height: 45px;
    background-color: #fff;
    margin-bottom: 12px;
    display: flex;
}

.swiper-tag .text {
    width: 60px;
    text-align: center;
    flex: 1;
}

.swiper-tag .text span {
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.swiper-tag .text span.active {
    color: #4c93fd;
    border-bottom-color: #4c93fd;
}

.buying-info-wrapper {
    background-color: #fff;
    margin-bottom: 7px;
}

.buying-info-wrapper .buying-info {
    display: flex;
}

.buying-info-wrapper .buying-info img {
    width: 70px;
    height: 70px;
    margin: 10px;
    flex: 0 0 auto;
}

.buying-info-wrapper .buying-info .text {
    flex: 1;
    position: relative;
}

.buying-info .text .top {
    font-size: 16px;
    position: absolute;
    top: 20px;
}

.buying-info .text .bottom {
    color: #999;
    width: 100%;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
}

.buying-info .text .bottom .num {
    color: #4c93fd;
}

.buying-info .text .bottom .order-taking-num {
    float: left;
}

.buying-info .text .bottom .time {
    float: right;
    padding-right: 10px;
}


.buying-info-wrapper .btn span {
    color: #999;
    height: 26px;
    width: 73px;
    border: 1px solid #999;
    border-radius: 4px;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    margin: 5px 10px;
}

.buying-info-wrapper .btn span.active {
    color: #4c93fd;
    border-color: #4c93fd;
}

.contact-merchant {
    float: right;
}

/*footApp下载部分*/
body {
    padding-bottom: 75px;
}
.down-app {
    height: 75px;
    width: 100%;
    background-color: rgba(109, 109, 109 , .8);
    display: flex;
    position: fixed;
    bottom: 0;
}

.down-app .logo {
    padding: 11px 10px 12px 12px;
}

.down-app .text {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    margin: 19px auto 20px auto;
}


.down-app .down {
    height: 28px;
    width: 68px;
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #4c93fd;
    border-radius: 5px; color: #4c93fd;
    margin: 22px 12px 23px 0;
    float: right;
}