.head-wrapper .right .right-block {
    height: 57px;
    position: relative;
}

.head-wrapper .right .right-block  i {
    font-size: 20px;
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
}

.head-wrapper .right .right-block a {
    font-size: 16px;
    display: block;
    line-height: 16px;
    position: absolute;
    bottom: 6px;
    right: 0;
}

.user-info-wrapper {
    background-color: #fff;
    margin:10px 0;
    padding: 0 16px;
}

.user-info-wrapper > div {
    height: 58px;
    display: flex;
    /*border: 1px solid red;*/
}

.user-info-wrapper .key {
    color: #666;
    width: 70px;
    line-height: 58px;
    font-size: 14px;
    flex:  0 0 auto;
    float: left;
    /*border: 1px solid red;*/
}

.user-info-wrapper .value {
    color: #333;
    font-size: 12px;
    line-height: 58px;
    padding-right: 12px;
    float: right;
}

.user-info-wrapper .avatar {
    height: 80px;
    display: block;
}

.user-info-wrapper .avatar .arrow {
    color: #666;
    line-height: 80px;
    float: right;
}

.user-info-wrapper .avatar .key {
    line-height: 80px;
}

.user-info-wrapper .avatar img {
    height: 60px;
    width: 60px;
    margin: 10px;
    border-radius: 50%;
    float: right;
}

.red {
    color: red;
    display: inline-block;
    position: relative;
    top: 3px;
}

input {
    flex: 1;
}

body {
    overflow: hidden;
}

.right-slide {
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    z-index: 900;
    transition: right .4s;
}

.right-slide img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-slide-wrapper {
    color: #4c93fd;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    line-height: 64px;
    text-align: center;
    position: absolute;
    bottom: -100%;
    z-index: 900;
    transition: bottom .4s;
}

.bottom-slide {
    width: 100%;
    position: absolute;
    bottom: 0;
    /*margin-bottom: 57px;*/
}


.bottom-slide .top {
    background-color: #fff;
    border-radius: 8px;
    margin: 0 10px 10px 10px;
}

.bottom-slide .bottom {
    font-weight: 600;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 10px 10px 10px;
}

/*#imgArrow {*/
    /*border: 1px solid green;*/
/*}*/


